<footer class="page-footer  indigo darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
            <h5 class="white-text">Zombie Survivor Social Network</h5>
            <p class="grey-text text-lighten-4">Help us to reconstruct the world again!</p>
            </div>
            <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Useful Links</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="assets/pdf/zssn_api.pdf" target="_blank">API Documentation</a></li>
                <li><a class="grey-text text-lighten-3" href="https://bitbucket.org/fernando133/zssn-api/get/ca9bc83096b7.zip" target="_blank"> Download back-end source code</a></li>
                <li><a class="grey-text text-lighten-3" href="https://bitbucket.org/fernando133/zssn-web/get/94ce2bf51727.zip" target="_blank">Download front-end source code</a></li>
            </ul>
            </div>
        </div>
        </div>
        <div class="footer-copyright">
        <div class="container">
        © 2017 Copyright - <a href="https://www.linkedin.com/in/fernandogualberto/" target="_blank">Fernando Gualberto</a>
        </div>
    </div>
</footer>

