<div class="nav-wrapper  indigo darken-2">
    <a href="" class="brand-logo">
        &nbsp;ZSSN (Zombie Survivor Social Network)
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#" data-ng-click="goStart()">New Survivor</a></li>
        <li><a href="#" data-ng-click="goTrade()">Trade Intens</a></li>
        <li><a href="#">Reports</a></li>
    </ul>
</div>