<div data-ng-controller="SurvivorController">
    <div class="row form-margin-top">
        <h3>New Survivor</h3>
        <br/>
        <form class="col s12">
        <div class="row">
            <div class="input-field col s4">
                <input id="name" type="text" class="validate upper" data-ng-model="survivor.name"/>
                <label for="name">Name</label>
            </div>
            <div class="input-field col s4">
                <input id="age" type="number" min="0" class="validate" data-ng-model="survivor.age" />
                <label for="age">Age</label>
            </div>
            <div class="input-field col s4">
                <input id="gender" type="text" maxlength="1" class="validate upper" data-ng-model="survivor.gender"/>
            <label for="gender">Gender</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s4 right-align">
                <a class="btn-floating btn-large waves-effect waves-light red pulse" title="Get Location" data-ng-click="getLocation()"><i class="material-icons">location_on</i></a>
            </div>
            <div class="input-field col s4">
                <input disabled  id="latitude" type="text" min="0" class="validate" data-ng-model="survivor.lat"/>
            </div>
            <div class="input-field col s4">
                <input disabled  id="longitude" type="text" maxlength="1" class="validate upper" data-ng-model="survivor.lon"/>
            </div>
        </div>
        
        <h4>Declare Inventory</h4>

        <div class="row">
            <div class="col s3">
                <h5 class="center-align">
                    <img class="responsive-img" src="assets/img/icons/water.png" title="Water"/>
                </h5>
            </div>
            <div class="col s3">
                <h5  class="center-align">
                    <img class="responsive-img " src="assets/img/icons/food.png" title="Food"/>
                </h5>
            </div>
            <div class="col s3">
                <h5  class="center-align">
                    <img class="responsive-img" src="assets/img/icons/medication.png" title="Medication"/>
                </h5>
            </div>

            <div class="col s3">
                <h5  class="center-align">
                    <img class="responsive-img" src="assets/img/icons/ammunition.png" title="Ammunition"/>
                </h5>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s3">
                <input id="amount_water" type="number" min="0" class="validate upper" data-ng-model="inventory.water"/>
                <label class="hide-on-small-only" for="amount_water">Water</label>
            </div>

            <div class="input-field col s3">
                <input id="amount_food" type="number" min="0" class="validate upper" data-ng-model="inventory.food"/>
                <label class="hide-on-small-only" for="amount_food">Food</label>
            </div>
        
            <div class="input-field col s3">
                <input id="amount_medication" type="number" min="0" class="validate upper" data-ng-model="inventory.medication"/>
                <label class="hide-on-small-only" for="amount_medication">Medication</label>
            </div>

            <div class="input-field col s3">
                <input id="amount_ammunition" type="number" min="0" class="validate upper" data-ng-model="inventory.ammunition"/>
                <label class="hide-on-small-only" for="amount_ammunition">Ammunition</label>
            </div>
        </div>

        <div class="row">
            <h3 class="right-align">
                <button class="btn waves-effect waves-light" type="submit" name="action" data-ng-click="submitSurvivorInformation()">Send
                    <i class="material-icons right">send</i>
                </button>
            </h3>
        </div>
        </form>
    </div>
</div>