<div data-ng-controller="SurvivorController">
    <div class="row form-margin-top">
        <h3 class="center-align">Trade Itens</h3>
       
            <div class="row">
                <div class="col s5">
                    <h5 class="center-align">Survivor A</h5>
                </div>
                <div class="col s2"></div>
                <div class="col s5">
                    <h5 class="center-align">Survivor B</h5>
                </div>
            </div>
            
            <!-- survivor select row -->
            <div class="row">
                <div  class="input-field col s5">
                    <select class="browser-default" data-ng-model="survivorA" >
                        <option value="" selected>Pick a survivor</option>
                        <option ng-repeat="survivor in listSurvivors" data-ng-click="setSurvivorA(survivor)">{{survivor.name}}</option>
                    </select>
                </div>
                <div class="col s2"></div>
                <div class="input-field col s5" >
                    <select class="browser-default" data-ng-model="survivorB"  data-ng-disabled="!isSurvivorA">
                        <option value="" selected>Pick a survivor</option>
                        <option ng-repeat="survivor in listSurvivors" data-ng-click="setSurvivorB(survivor)">{{survivor.name}}</option>
                    </select>
                </div>
            </div>

            <!-- waiting row -->
            <div class="row">
                <div class="progress col s5" data-ng-show="!isSurvivorA">
                    <div class="indeterminate"></div>
                </div>
                <div class="col s5" data-ng-show="isSurvivorA"></div>
                <div class="col s2"></div>
                <div class="col s5" data-ng-show="isSurvivorB"></div>
                <div class="progress col s5" data-ng-show="!isSurvivorB">
                    <div class="indeterminate"></div>
                </div>
            </div>
            <!--.end waiting row -->  

            <!--.end survivor select row -->

            <!-- survivor information row -->
            <div class="row">
                <div  class="col s5" data-ng-show="isSurvivorA">
                    <b>Created at:</b> {{survivorA.createdAt | date:'medium'}}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{survivorA.name}}</td>
                                <td>{{survivorA.age}}</td>
                                <td>{{survivorA.gender}}</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>Times flaged infected</th>
                                <th>Last Location</th>
                                <th>Last Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{survivorA.timesMarkedAsInfected}}</td>
                                <td>LAT:{{survivorA.lat}}; LON:{{survivorA.lon}}</td>
                                <td>{{survivorA.updatedAt | date:'medium'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr/>
                </div>
                <div class="col s2"></div>
                <div  class="col s5" data-ng-show="isSurvivorB">
                    <b>Created at:</b> {{survivorB.createdAt | date:'medium'}}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{survivorB.name}}</td>
                                <td>{{survivorB.age}}</td>
                                <td>{{survivorB.gender}}</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>Times flaged infected</th>
                                <th>Last Location</th>
                                <th>Last Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{survivorB.timesMarkedAsInfected}}</td>
                                <td>LAT:{{survivorB.lat}}; LON:{{survivorB.lon}}</td>
                                <td>{{survivorB.updatedAt | date:'medium'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr/>
                </div>
            </div>
            <!--.end survivor information row -->

            <!-- survivor actions row -->
            <div class="row">

                <div class="col s5 center-align" data-ng-show="isSurvivorA && survivorA.infected"></div>
                <div class="col s5 center-align" data-ng-show="isSurvivorA && !survivorA.infected">
                    <a class="btn-floating btn-large waves-effect waves-light blue pulse" title="Update Location" data-ng-click="updateLocation(survivorA, 'A')"><i class="material-icons">location_on</i></a>
                    <a class="btn-floating btn-large waves-effect waves-light red pulse" title="Flag as infected" data-ng-click="markAsInfected(survivorA, 'A')"><i class="material-icons">person_pin</i></a>
                </div>
                <div class="col s2"></div>
                <div class="col s5 center-align" data-ng-show="isSurvivorB && survivorB.infected"></div>
                <div class="col s5 center-align" data-ng-show="isSurvivorB && !survivorB.infected">
                    <a class="btn-floating btn-large waves-effect waves-light blue pulse" title="Update Location" data-ng-click="updateLocation(survivorB, 'B')"><i class="material-icons">location_on</i></a>
                    <a class="btn-floating btn-large waves-effect waves-light red pulse" title="Flag as infected" data-ng-click="markAsInfected(survivorB, 'B')"><i class="material-icons">person_pin</i></a>
                </div>
            </div>
            <!-- .end survivor actions row -->

            <!--inventory row. -->
            <div class="row">
                 <div class="col s5 center-align" data-ng-show="isSurvivorA && survivorA.infected"></div>
                <div class="col s5" data-ng-show="isSurvivorA && !survivorA.infected">
                    <h5 class="left-align">Inventory</h5>
                </div>
                <div class="col s2"></div>
                 <div class="col s5 center-align" data-ng-show="isSurvivorB && survivorB.infected"></div>
                <div class="col s5" data-ng-show="isSurvivorB && !survivorB.infected">
                    <h5 class="left-align">Inventory</h5>
                </div>
            </div>
            <div class="row">
                <div class="col s5 center-align" data-ng-show="isSurvivorA && survivorA.infected"></div>
                <div class="col s5" data-ng-show="isSurvivorA && !survivorA.infected">
                    <table>
                        <thead>
                            <th>Item</th>
                            <th>Amount</th>
                            <th>Item</th>
                            <th>Amount</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="assets/img/icons/water.png" title="Water"/></td>
                                <td>{{survivorA.inventoryList[0].amount}}</td>
                                <td><img src="assets/img/icons/food.png" title="Food"/></td>
                                <td>{{survivorA.inventoryList[1].amount}}</td>
                            </tr>
                            <tr>
                                <td><img src="assets/img/icons/medication.png" title="Medication"/></td>
                                <td>{{survivorA.inventoryList[2].amount}}</td>
                                <td><img src="assets/img/icons/ammunition.png" title="Ammunition"/></td>
                                <td>{{survivorA.inventoryList[3].amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr/>
                </div>
                <div class="col s2"></div>
                 <div class="col s5 center-align" data-ng-show="isSurvivorB && survivorB.infected"></div>
                <div class="col s5" data-ng-show="isSurvivorB && !survivorB.infected">
                    <table>
                        <thead>
                            <th>Item</th>
                            <th>Amount</th>
                            <th>Item</th>
                            <th>Amount</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="assets/img/icons/water.png" title="Water"/></td>
                                <td>{{survivorB.inventoryList[0].amount}}</td>
                                <td><img src="assets/img/icons/food.png" title="Food"/></td>
                                <td>{{survivorB.inventoryList[1].amount}}</td>
                            </tr>
                            <tr>
                                <td><img src="assets/img/icons/medication.png" title="Medication"/></td>
                                <td>{{survivorB.inventoryList[2].amount}}</td>
                                <td><img src="assets/img/icons/ammunition.png" title="Ammunition"/></td>
                                <td>{{survivorB.inventoryList[3].amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr/>
                </div>
            </div>
            <!--.end inventory row -->

            <!-- trade itens row -->
            <div class="row">
                <div class="col s5 center-align" data-ng-show="isSurvivorA && survivorA.infected"></div>
                <div class="col s5" data-ng-show="isSurvivorA && !survivorA.infected">
                    <h5 class="left-align">Trade Place</h5>
                </div>
                <div class="col s2"></div>
                 <div class="col s5 center-align" data-ng-show="isSurvivorB && survivorB.infected"></div>
                <div class="col s5" data-ng-show="isSurvivorB && !survivorB.infected">
                    <h5 class="left-align">Trade Place</h5>
                </div>
            </div>

            <div class="row">
                <div class="col s5 center-align" data-ng-show="isSurvivorA && survivorA.infected"></div>
                <div class="col s5" data-ng-show="isSurvivorA && !survivorA.infected">
                    <table>
                        <thead>
                            <th>Item</th>
                            <th>Points p. unit</th>
                            <th>Amount</th>
                            <th>Amount to trade</th>
                            <th>Points</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Water</td>
                                <td>{{water.points}}</td>
                                <td>{{survivorA.inventoryList[0].amount}}</td>
                                <td><input class="browser-default input-trade"
                                     type="number" data-ng-model="tradeWaterA" min="0" max="{{survivorA.inventoryList[0].amount}}" 
                                        data-ng-change="calculatePointsWaterA(tradeWaterA)"/></td>
                                <td>{{subTotalPointsWaterA}}</td>
                            </tr>
                            <tr>
                                <td>Food</td>
                                <td>{{food.points}}</td>
                                 <td>{{survivorA.inventoryList[1].amount}}</td>
                                
                                <td><input class="browser-default input-trade" data-ng-model="tradeFoodA"
                                    data-ng-change="calculatePointsFoodA(tradeFoodA)"
                                    type="number" min="0" max="{{survivorA.inventoryList[1].amount}}" /></td>
                                <td>{{subTotalPointsFoodA}}</td>
                            </tr>
                            <tr>
                                <td>Medication</td>
                                <td>{{medication.points}}</td>
                                <td>{{survivorA.inventoryList[2].amount}}</td>
                                <td><input class="browser-default input-trade" data-ng-model="tradeMedicationA"
                                    data-ng-change="calculatePointsMedicationA(tradeMedicationA)"
                                    type="number" min="0" max="{{survivorA.inventoryList[2].amount}}" /></td>
                                <td>{{subTotalPointsMedicationA}}</td>
                            </tr>
                            <tr>
                                <td>Ammunition</td>
                                <td>{{ammunition.points}}</td>
                                <td>{{survivorA.inventoryList[3].amount}}</td>
                                <td><input class="browser-default input-trade" data-ng-model="tradeAmmunitionA"
                                    data-ng-change="calculatePointsAmmunitionA(tradeAmmunitionA)"
                                    type="number" min="0" max="{{survivorA.inventoryList[3].amount}}" /></td>
                                <td>{{subTotalPointsAmmunitionA}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col s2 center-align" data-ng-show="isSurvivorB && isSurvivorA && (survivorB.infected || survivorA.infected)"></div>
                <div class="col s2" data-ng-show="isSurvivorB && isSurvivorA && !survivorA.infected && !survivorB.infected ">
                    <button data-ng-click="makeTradeOfItens()" class="btn waves-effect waves-light center-align orange darken-4">Trade
                        <i class="material-icons right">swap_horiz</i>
                    </button>
                </div>
                <div class="col s5 center-align" data-ng-show="isSurvivorB && survivorB.infected"></div>
                <div class="col s5" data-ng-show="isSurvivorB && !survivorB.infected">
                    <table>
                        <thead>
                            <th>Item</th>
                            <th>Points p. unit</th>
                            <th>Amount</th>
                            <th>Amount to trade</th>
                            <th>Points</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Water</td>
                                <td>{{water.points}}</td>
                                <td>{{survivorB.inventoryList[0].amount}}</td>
                                <td><input class="browser-default input-trade"
                                     type="number" data-ng-model="tradeWaterB" min="0" max="{{survivorB.inventoryList[0].amount}}" 
                                        data-ng-change="calculatePointsWaterB(tradeWaterB)"/></td>
                                <td>{{subTotalPointsWaterB}}</td>
                            </tr>
                            <tr>
                                <td>Food</td>
                                <td>{{food.points}}</td>
                                 <td>{{survivorB.inventoryList[1].amount}}</td>
                                
                                <td><input class="browser-default input-trade" data-ng-model="tradeFoodB"
                                    data-ng-change="calculatePointsFoodB(tradeFoodB)"
                                    type="number" min="0" max="{{survivorB.inventoryList[1].amount}}" /></td>
                                <td>{{subTotalPointsFoodB}}</td>
                            </tr>
                            <tr>
                                <td>Medication</td>
                                <td>{{medication.points}}</td>
                                <td>{{survivorB.inventoryList[2].amount}}</td>
                                <td><input class="browser-default input-trade" data-ng-model="tradeMedicationB"
                                    data-ng-change="calculatePointsMedicationB(tradeMedicationB)"
                                    type="number" min="0" max="{{survivorB.inventoryList[2].amount}}" /></td>
                                <td>{{subTotalPointsMedicationB}}</td>
                            </tr>
                            <tr>
                                <td>Ammunition</td>
                                <td>{{ammunition.points}}</td>
                                <td>{{survivorB.inventoryList[3].amount}}</td>
                                <td><input class="browser-default input-trade" data-ng-model="tradeAmmunitionB"
                                    data-ng-change="calculatePointsAmmunitionB(tradeAmmunitionB)"
                                    type="number" min="0" max="{{survivorB.inventoryList[3].amount}}" /></td>
                                <td>{{subTotalPointsAmmunitionB}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--.end trade itens row-->

            
        </div>
    </div>
</div>