body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.form-margin-top {
    margin-top: 20px;
}

.upper{
    text-transform:uppercase;
}

.input-trade {
    width: 80px;
}